<%= javascript_pack_tag 'app' %>
<%= stylesheet_pack_tag 'app' %>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700%7CMaterial+Icons" rel="stylesheet">

<div id="app">
  <navbar></navbar>
  <div class="container">
    <router-view></router-view>
  </div>
</div>